<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.css" />
    <!-- default css -->
    <link rel="stylesheet" href="css/site.css">
    <title>Appbuild | S.E.</title>

    <style media="screen">
      header {margin-top:20px;z-index: -9999}
      form {display: none;}
      #navBtn{display: block;margin-bottom:40px;!z-index: 99999999;}
    </style>
    <script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
  </head>
  <body>
    <div class="container animsition" data-animsition-out-class="fade-in-left"
    data-animsition-out-duration="2000">



    <!--=========== HEADER ===========-->

    <header class="navbar navbar-static-top navbar-inverse" id="top" role="banner">
      <!-- <div class="container "> -->
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand" style="margin-left:10px;">Welcome To Shake Events</a>
        </div>
        <nav style="background-color:#222" class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav ">
            <li> <a href="#/">Login</a></li>
            <li> <a href="#/logout">Logout</a></li>
            <li> <a href="#/register">Register</a></li>
            <li class="hideDash"> <a href="#/pro">Profile</a></li>
            <li class="hideDash"> <a href="#/dash">Dash</a></li>
            <li class="hideDash"> <a href="#/settings">Settings</a></li>
          </ul>
        </nav>

        <!-- banner -->
      <div class="jumbotron text-center" style="margin:10px;">
        <h1>Shake Events</h1>
      </div>
    </header>


    <!--============ LOGIN FORM ============-->

    <div id="container" class="container">
      <!-- LOGIN -->
      <form id="frmLogin" role="form">
        <h2>Login</h2>
        <div class="form-group">
          <label for="txtEmail">Email address</label>
          <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" />
        </div>
        <div class="form-group">
          <label for="txtPass">Password</label>
          <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
        </div>
        <button type="submit" class="btn btn-default btn-block">Login</button>
        <br />
        <br />
        <h4>Login with</h4>
        <button href="#" class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-google firebaseui-id-idp-button " data-provider="google">
          <img class="firebaseui-idp-icon" src="https://www.gstatic.com/firebasejs/staging/3.0.0/auth/images/google.svg" alt="" />
          <span class="firebaseui-idp-text firebaseui-idp-text-long">Sign in with Google+</span>
          </button>

       <button href="#" class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-facebook firebaseui-id-idp-button " data-provider="facebook" data-upgraded=",MaterialButton">
         <img  class="firebaseui-idp-icon"  src="https://www.gstatic.com/firebasejs/staging/3.0.0/auth/images/facebook.svg" alt="" />
         <span class="firebaseui-idp-text firebaseui-idp-text-long">Sign in with Facebook</span>
       </button>

       <button href="#" class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-twitter firebaseui-id-idp-button " data-provider="twitter" data-upgraded=",MaterialButton">
         <img  class="firebaseui-idp-icon"  src="https://www.gstatic.com/firebasejs/staging/3.0.0/auth/images/twitter.svg" alt="" />
         <span class="firebaseui-idp-text firebaseui-idp-text-long">Sign in with Twitter</span>
       </button>

       <button href="#" class="firebaseui-idp-button mdl-button mdl-js-button mdl-button--raised firebaseui-idp-github firebaseui-id-idp-button " data-provider="github" data-upgraded=",MaterialButton">
         <img class="firebaseui-idp-icon" src="https://www.gstatic.com/firebasejs/staging/3.0.0/auth/images/github.svg" alt="" />
         <span class="firebaseui-idp-text firebaseui-idp-text-long">Sign in with Github</span>
       </button>
      </form>
      <!-- / LOGIN -->


  <!--=========== LOGOUT FORM ===========-->

  <form id="frmLogout" role="form" style="text-align:center;">
    <h2>You are logged out!</h2>
    <br>
    <br>
    <div style="background-color:yellow;width:100%;width:300px;margin:10px auto;">
      <h4><a href="#/">Retun to Login</a></h4>
    </div>
  </form>
  <!-- / LOGOUT -->


  <!--========== REGISTER FORM ==========-->

  <form id="frmRegister" role="form">
    <h2>Register</h2>
    <div class="form-group">
      <label for="txtRegEmail">Email address</label>
      <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" />
    </div>
    <div class="form-group">
      <label for="txtRegPass">Password</label>
      <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
    </div>
    <button type="submit" class="btn btn-default">Register</button>
  </form>
  <!-- / REGISTER -->

  <!--========== ADD PROFILE FORM ==========-->

  <form id="frmProfile" role="form">
    <h2>Add A Profile</h2>
    <br />
      <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
      </div>
      <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" id="userName" placeholder="User Name" name="userName" />
      </div>
      <div class="form-group">
          <label for="tagLine">Tag Line</label>
          <input type="text" class="form-control" id="tagLine" placeholder="Tag Line" name="tagLine" />
      </div>
      <div class="form-group">
          <label for="proPhoto">Photo</label>
          <input type="text" class="form-control" id="proPhoto" placeholder="Photo Url" name="photo" />
      </div>
      <div class="form-group">
          <label for="groupName">Group Name</label>
          <input type="text" class="form-control" id="groupName" placeholder="Group Name" name="groupName" />
      </div>
      <div class="form-group">
          <label for="ddlDino">User Role</label>
          <select id="ddlDino" name="memberGrp" class="form-control">
              <option>User Member</option>
              <option>Venue Admin</option>
              <option>Promoter</option>
          </select>
      </div>
      <div class="panel-group" id="accordionThree">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionThree" href="#collapseFive">Optional Advanced Settings</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapseFive">
            <!-- <div class="panel-body">
              Here you can provide additional profile settings
            </div> -->
            <div class="list-group" style="padding:2% 5%;margin-bottom:.6em;background:#aaa;">
              <label for="userEmail">Email Address</label>
              <input type="email" class="form-control" id="userEmail" placeholder="Email Address" name="userEmail" />

              <label for="userStateLoc">State</label>
              <input type="text" class="form-control" id="userStateLoc" placeholder="State" name="userStateLoc" />

              <label for="userCityLoc">City</label>
              <input type="text" class="form-control" id="userCityLoc" placeholder="City" name="userCityLoc" />

              <label for="userCountryLoc">Country</label>
              <input type="text" class="form-control" id="userCountryLoc" placeholder="Country" name="userCountryLoc" />
            </div>
          </div>
        </div>
      </div>
      <div id="data" style="color:#000;font-size:1.12em;"></div>
        <button type="submit" href="#/dash" class="btn btn-primary">
          Update
        </button>
      <a href='#/dash' class="btn btn-primary">Cancel</a>
    </form>
    <div class="row">
      <div class="col-md-12" id="showHere">
        <h1></h1>
      </div>
    </div>
  <!-- / ADD PROFILE -->


  <!--========== PROFILE FORM ==========-->

  <form id="frmAdd_Profile" role="form">
    <h2>View Your Profile</h2>
    <br />



    </form>
    <div class="row">
      <div class="col-md-12" id="showHere">
        <h1></h1>
      </div>
    </div>


  <!-- / ADD PROFILE -->

  <!--============== SHOP FORM ==============-->

  <form id="frmPro" role="form">
    <div class="row container">

      <div class="col-md-4" id="showHere">
        <h1></h1>
      </div>
      <!-- end of col md-4 -->

      <div class="col-md-8 text-center" id="" style="margin-top:-5px;">
        <h2>Welcome to MyGoods!</h2>
        <div class="row">
          <h1>Home Goods</h1>
          <div class="box ">
            <h4>box 1</h4>
          </div>
          <div class="box ">
            <h4>box 2</h4>
          </div>
          <div class="box ">
            <h4>box 3</h4>
          </div>
          <div class="box ">
            <h4>box 4</h4>
          </div>
        </div>

        <div class="row">
          <h1>Clothing</h1>
          <div class="box ">
            <h4>box 5</h4>
          </div>
          <div class="box ">
            <h4>box 6</h4>
          </div>
          <div class="box">
            <h4>box 7</h4>
          </div>
          <div class="box">
            <h4>box 8</h4>
          </div>
        </div>



        <div class="row">
          <h1>Electronics</h1>
          <div class="box">
            <h4>box 9</h4>
          </div>
          <div class="box">
            <h4>box 10</h4>
          </div>
          <div class="box">
            <h4>box 11</h4>
          </div>
          <div class="box">
            <h4>box 12</h4>
          </div>
        </div>
      </div>
      <!-- end of col md-8 -->
    </div>
    <!-- end of row -->
  </form>
  <!-- / SHOP -->

  <!--==========  DASH FORM ==========-->
  <form id="frmDash" role="form" style="text-align:center;">
    <div class="row container">
      <div class="col-md-12" id="showHere">
        <h1>Welcome to your dash!</h1>
        <a href="#/profile">Edit Profile</a>
      </div>
      <div class="row">
        <div class="col-md-12 dashDisplay">
            <h1>happy day</h1>
        </div>
      </div>
    </div>
  </form>
  <!-- /  DASH -->

  <!--==========  SETTINGS FORM ==========-->
  <form id="frmSettings" role="form" style="text-align:center;">
    <div class="row container">
      <div class="col-md-12" id="showHere">
        <h1>Welcome To Your Dashboard Settings!</h1>

        <div class="panel-group" id="accordionTwo">
        	<div class="panel panel-default shortPanel">
        				<a class="accordion-toggle" style="margin:0 auto"data-toggle="collapse" data-parent="#accordionTwo" href="#collapseFour">Edit Profile</a>
        		<div class="panel-collapse collapse" id="collapseFour">
        			<div class="list-group" style="padding:2% 5%;margin-bottom:.6em;background:#aaa;">

                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName" placeholder="User Name" name="userName" />
                </div>
                <div class="form-group">
                    <label for="fName">First Name</label>
                    <input type="text" class="form-control" id="fName" placeholder="First Name" name="fName" />
                </div>
                <div class="form-group">
                    <label for="lName">Last Name</label>
                    <input type="text" class="form-control" id="lName" placeholder="Last Name" name="lName" />
                </div>
                <div class="form-group">
                    <label for="tagLine">Tag Line</label>
                    <input type="text" class="form-control" id="tagLine" placeholder="Tag Line" name="tagLine" />
                </div>
                <div class="form-group">
                    <label for="proPhoto">Photo</label>
                    <input type="text" class="form-control" id="proPhoto" placeholder="Photo Url" name="photo" />
                </div>
                <div class="form-group">
                    <label for="groupName">Group Name</label>
                    <input type="text" class="form-control" id="groupName" placeholder="Group Name" name="groupName" />
                </div>
                <div class="form-group">
                    <label for="ddlDino">User Role</label>
                    <select id="ddlDino" name="memberGrp" class="form-control">
                        <option>User Member</option>
                        <option>Venue Admin</option>
                        <option>Promoter</option>
                    </select>
                </div>
                <div class="panel-group" id="accordionThree">
                	<div class="panel panel-default">
                		<div class="panel-heading">
                			<h4 class="panel-title">
                				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionThree" href="#collapseFive">Optional Advanced Settings</a>
                			</h4>
                		</div>
                		<div class="panel-collapse collapse" id="collapseFive">
                			<!-- <div class="panel-body">
                				Here you can provide additional profile settings
                			</div> -->
                			<div class="list-group" style="padding:2% 5%;margin-bottom:.6em;background:#aaa;">
                        <label for="userEmail">Email Address</label>
                        <input type="email" class="form-control" id="userEmail" placeholder="Email Address" name="userEmail" />

                        <label for="userStateLoc">State</label>
                        <input type="text" class="form-control" id="userStateLoc" placeholder="State" name="userStateLoc" />

                        <label for="userCityLoc">City</label>
                        <input type="text" class="form-control" id="userCityLoc" placeholder="City" name="userCityLoc" />

                        <label for="userCountryLoc">Country</label>
                        <input type="text" class="form-control" id="userCountryLoc" placeholder="Country" name="userCountryLoc" />
                			</div>
                		</div>
                	</div>
                </div>
                <div id="data" style="color:#000;font-size:1.12em;"></div>
                  <button type="submit" href="#/dash" class="btn btn-primary">
                    Update
                  </button>
        			</div>
        		</div>
        	</div>
        </div>


      </div>
    </div>
  </form>
  <!-- /  SETTINGS -->



  <hr />
            <div>
            <!-- ALERT BOX -->
            <div id="alert" class="alert" role="alert">
                 <h4 id="alert-title">You are not logged in</h4>

                <p id="alert-detail"></p>
            </div>
            <!-- / ALERT BOX -->
        </div>
      </div>

    </div> <!-- end of container -->

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>
    <!-- bootstrap js -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js" ></script>
    <!-- <script src="templates/js/shop.js" ></script> -->
    <script src="javascript/main.js" ></script>
    <script src="javascript/app.js" ></script>


  </body>
</html>
